---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// TYPOGRAPHY ================================================
$base-font                : 'karla', sans-serif;
$heading-font             : 'londrina-shadow', sans-serif;
$caption-font             : $base-font;
$code-font                : 'source-code-pro', monospace;
$alt-font                 : 'atomic-age', 'volkhov', serif;

$doc-font-size            : 16;
$doc-line-height          : 20;

$border-radius            : 3px;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}


// COLORS =====================================================
$body-color               : #f0f6f6;
$text-color               : #2b4748;
$base-color               : #343434;
$comp-color               : adjust-hue($base-color, 180);
$border-color             : #ddd;
$white                    : #fff;
$black                    : #192b2b;
$accent-color             : $black;
$link-color               : #222;

$table-border-color       : $border-color;
$table-border             : 1px solid $table-border-color;
$table-background         : $body-color;
$table-header-color       : lighten($table-background, 10);
$table-hover-color        : darken($table-background, 2);
$table-stripe-color       : darken($table-background, 4);
$table-stripe-color-hover : darken($table-stripe-color, 5);


// MEDIA QUERIES ==============================================
$micro                    : "only screen and (min-width: 30em)";
$small                    : "only screen and (min-width: 37.5em)";
$medium                   : "only screen and (min-width: 48em)";
$large                    : "only screen and (min-width: 62em)";
$x-large                  : "only screen and (min-width: 86.375em)";

/*
   Vendor
   ========================================================================== */

@import "vendor/bourbon/bourbon"; /* Bourbon mixins (bourbon.io) */
@import "grid-settings"; /* Bourbon Neat settings */
@import "vendor/neat/neat"; /* Bourbon Neat grid mixins (neat.bourbon.io) */
@import "vendor/font-awesome/font-awesome"; /* Font Awesome icons */
@import "vendor/magnific-popup/magnific-popup"; /* Magnific Popup lightbox */

/*
   Global
   ========================================================================== */

@import "mixins";
@import "reset";
@import "base";

/*
   Components
   ========================================================================== */

@import "helpers";
@import "buttons";
@import "wells";
@import "syntax";
@import "forms";
@import "notices"; /* notices and alerts */
@import "animations";
@import "masthead";
@import "navigation";
@import "search";
@import "footer";

/*
   Page specific
   ========================================================================== */

@import "page"; /* layout and styles that apply to posts and pages */
@import "archives"; /* archive pages (post/tag lists, etc) */
